* {
  color: white;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}
.city {
  font-size: 16pt;
  text-align: center;
  width: 60%;
  background-color: rgb(83, 126, 26);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 969px;
  margin: 0;
  background-image: url(https://gefest.b-cdn.net/marketing/bg.jpg);
}
.container {
  width: 800px;
  height: 400px;
}
.container h1 {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
input {
  font-size: 16pt;
  color: black;
  outline: none;
  width: 50%;
  height: 40px;
  border: 1px solid gainsboro;
}
input[type="text"]:focus {
  border: 3px solid red;
}
input::placeholder {
  text-align: center;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  border: 1px solid gainsboro;
  margin-top: 15px;
  width: 52%;
  height: 40px;
}
button:focus {
  border: 3px solid red;
}
