@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 74 100% 53.1%; /* BEFF6C converted to HSL */
    --accent-foreground: 0 0% 0%; /* black for contrast */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%; /* white */

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.css-tm6kk8 {
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  vertical-align: middle;
  width: 485px;
  height: 177px;
  z-index: -1;
  fill: none;
}

.css-1lj00nd {
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: var(--chakra-colors-gray-300);
  vertical-align: middle;
  width: 228px;
  height: 263px;
  fill: none;
  visibility: visible;
}

.css-1bcz88j {
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: var(--chakra-colors-gray-300);
  vertical-align: middle;
  width: 228px;
  height: 263px;
  fill: none;
  visibility: visible;
  display: initial;
}

.css-z7sfse {
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: var(--chakra-colors-gray-300);
  vertical-align: middle;
  width: 454px;
  height: 126px;
  fill: none;
  visibility: visible;
}

.css-1tonol0 {
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: var(--chakra-colors-gray-300);
  vertical-align: middle;
  width: 454px;
  height: 168px;
  fill: none;
  visibility: visible;
}

.lesson-map-container {
  background-image: url("/lesson-path-bg-pattern.svg");
  background-repeat: repeat;
  background-position: center;
  fill: red;
}

.cm-content,
.cm-gutter {
  min-height: 150px;
}
.cm-gutters {
  margin: 1px;
}
.cm-scroller {
  overflow: auto;
}
